.glyphicon-arrow-right {
    margin-left: 10px;
    top: 3px;
}

.timeline li:first-child .timeline-panel {
  pointer-events: none;
  opacity: 0.8;
  background: #e1e8e4;
}
.timeline > li:first-child > .timeline-panel:before, .timeline > li:first-child > .timeline-panel:after {
display: none;
}

.btn-lg {
    font-size: 16px;
}

.timeline li:first-child .timeline-badge {
    background-color: #16aa1b;
}

.inactive {
    opacity: 0.4;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }