.glyphicon-arrow-right {
    margin-left: 10px;
    top: 3px;
}

.navbar-fixed-top ul:first-child li a span {
    padding-right: 8px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #3071a9;
}
/* .navbar-fixed-top ul:first-child li a {
    border-right: 1px solid black;
}*/

#calendar {
    margin-top:20px;
}

.container .panel-primary {
    margin-left: 25px;
}

.timeline li:first-child .timeline-panel {
    pointer-events: none;
    opacity: 0.8;
    background: #e1e8e4;
}

.timeline > li:first-child > .timeline-panel:before, .timeline > li:first-child > .timeline-panel:after {
    display: none;
}

.btn-lg {
    font-size: 16px;
}

.timeline li:first-child .timeline-badge {
    background-color: #16aa1b;
}

.inactive {
    opacity: 0.4;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}

.btn {
    margin-bottom: 10px;
}

.bs-wizard {
    margin-top: 20px;
}

/*Form Wizard*/
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 0px 0;
}

.bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative;
    width: 33%;
}

.bs-wizard > .bs-wizard-step + .bs-wizard-step {
}

.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}

.bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #457f45;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
}

.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #7acf7a;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}

.bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}

.bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #5cb85c;
}

.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%;
}

.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%;
}

.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5;
}

.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0;
}

.bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%;
}

.bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%;
}

.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}
/*END Form Wizard*/

#title_promos {
    text-transform: uppercase;
    color: #3071a9;
}

.navbar-default {
    border-bottom: 1px solid #979797;
}

input, textarea, button {
    margin-top: 10px;
}

/* Required field START */

.required-field-block {
    position: relative;
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}

.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
    color: #B80000;
    font-size: 26px;
    margin: -3px 0 0 12px;
}
/* Required field END */

.entry:not(:first-of-type) {
    margin-top: 10px;
}

.glyphicon {
}

/* 
    Text fields 
*/
.form-group {
    width: 100%;
}

div.input-group-option:last-child span.input-group-addon-remove {
    display: none;
}

div.input-group-option:last-child input.form-control {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

div.input-group-option span.input-group-addon-remove {
    cursor: pointer;
}

div.input-group-option {
    margin-bottom: 3px;
}

/* 
    Selects 
*/

div.input-group-multiple-select:last-child span.input-group-addon-remove {
    display: none;
}

div.input-group-multiple-select:last-child input.form-control {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

div.input-group-multiple-select span.input-group-addon-remove {
    cursor: pointer;
    background: none;
    border: none;
}

div.input-group-multiple-select {
    margin-bottom: 10px;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}

.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(76, 174, 76);
}

.list-group-item.active {
    background-color: rgb(76, 174, 76);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}

.timeline li:nth-child(10) .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}

.timeline-body .row {
   
    padding: 0px 12px;
}

.clickable {
    cursor: pointer;
}

.timeline-panel  .panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}

.timeline-panel  .panel-heading div span {
    margin-left: 5px;
}



.timeline-panel  .panel-title {
    color: #FFF;
}

.timeline-panel  .panel-success > .panel-heading {
    background-color: #5fab5f;
    background-image: none;
}

.timeline-panel .col-md-6 {
    width: 100%;
}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.iframe-container {    
    padding-bottom: 60%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


