<!-- IMPORTANT: Navigation -->
<div ng-include src="'templates/Student/Navigation.html'"></div>

<div class="container">
    <!-- hoi -->
    <div class="page-header">
        <h1 id="timeline">PhD student - Timeline</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">1. Fill out admission form</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Completed 11 hours ago by Thomas Bäck</small></p>
            </div>
            <div class="timeline-body">
              <p>Dear Jan, before you start your PhD program you need to be admitted to the Graduate School. 
                 For admission please fill out the admission form and upload the requested documents.
              </p>
                <hr>
                <button type="button" disabled class="btn btn-primary btn-lg">
                  Fill out admission form <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
                </button>
                
            </div>
          </div>
        </li>
        <li class="timeline-inverted" id="scroller-panel2">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-user"></i></div>
          <div class="timeline-panel"  >
            <div class="timeline-heading">
              <h4 class="timeline-title">2. Appointing supervisor(s)</h4>
            </div>
            <div class="timeline-body">
              <p>Please send in an official request to the Graduate School office, to appoint your supervisor(s). <br /><br />
                  <i>Please note that: appointment of a co-supervisor(s) (if applicable) can be requested during the whole course of your 
                  PhD program.</i></p>
                <hr>
                <button type="button" class="btn btn-primary btn-lg">
                  Request for supervisor(s) <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
                </button>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">3. PhD training program</h4>
            </div>
            <div class="timeline-body">
              <p> Besides your four compulsory courses, the Graduate School or the HRM department of the University offers other professional courses. 
                  The faculty of Science is offering advanced courses in <b>Software Development Project Management</b>.  
                  </p>
                <hr>
                <button type="button" class="btn btn-primary btn-lg">
                  Sign-up for courses <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
                </button>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">3.1 Proof of completion</h4>
            </div>
            <div class="timeline-body">
              <p>To include the advanced courses on your certificate please provide the Graduate School with proof the completion of these courses.</p>
                 <hr>
                <button type="button" class="btn btn-primary btn-lg">
                  Send proof of completion <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
                </button>
            </div>
          </div>
        </li>
        <li  class="timeline-inverted">
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-eye-open"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">4. Send manuscript for approval as a dissertation</h4>
            </div>
            <div class="timeline-body">
              <p>After you finished your manuscript, please send a copy to your supervisor for approval as a 
                  dissertation.</p>
              <hr>
                <button type="button" class="btn btn-primary btn-lg">
                  Upload manuscript <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 
                </button>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">4.1 Approval supervisor(s)</h4>
            </div>
            <div class="timeline-body">
              <p><b>Status:</b><br /> <span class="inactive">Received</span> / <span class="inactive">Reviewed</span> / Approved</p>
            <hr>
           <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> 
              </div>
              
            </div>
                 <p>Thomas Bäck, Professor in the Faculty of Science approved the manuscript as a dissertation. </p>
          </div>
        </li>
        <li >
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-pencil"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">5. Assessments Promotion Committee </h4>
            </div>
            <div class="timeline-body">
              <p><b>Status:</b><br /><br />
                  <button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Teun from the Faculty of Science</button>
                  <button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Amer from the Faculty of Science</button>
                  <button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Piet from the Faculty of Science</button>
                  <button type="button" class="btn btn-labeled btn-success"><span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Yunpeng from the Faculty of Science</button>
                  <button type="button" class="btn btn-labeled btn-warning"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Petra from the Faculty of Science</button>
                  <button type="button" class="btn btn-labeled btn-warning"><span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>David from the Faculty of Science</button>
                 </p>
                <hr>
                <div class="progress">
                    
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%"> 
              <p>4 - 6 weeks (2 weeks left)</p>
              </div>
              
            </div>
            </div>
          </div>
        </li>
         <li class="timeline-inverted">
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-pencil"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">6. Application for defence</h4>
            </div>
            <div class="timeline-body">
              <p><b>Status:</b><br /><br />
                 </p>
                <hr>
                <div class="progress">
                    
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%"> 
              <p>4 - 6 weeks (2 weeks left)</p>
              </div>
              
            </div>
            </div>
          </div>
        </li>
    </ul>
</div>
