<!-- IMPORTANT: Navigation -->
<div ng-include src="'templates/Student/Navigation.html'"></div>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
             <div class="page-header">
                    <h1 id="timeline">Dissertation details</h1>
                </div>
            
	        
	        <div class="row">
                <a class="btn btn-primary view-pdf" href="images/afstudeerscriptie_HBO_Kennisbank.pdf">View Dissertation</a>
                
                <span class="btn btn-default btn-file">
                    Upload Dissertation <input type="file">
                </span>

                <a class="btn btn-primary view-pdf" style="float:right;" >Print</a> 
	        </div>

        </div>
    </section> <div class="container">
    <textarea class="textarea form-control" placeholder="Dissertation" style="width: 810px; height: 200px"></textarea>
</div>